@charset "UTF-8";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
 box-sizing: border-box;  }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

*,
*::before,
*::after {
          box-sizing: inherit; }
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }


.fade {
  opacity: 0;
  transition: opacity 0.15s linear; }
  .fade.show {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.show {
    display: block; }

tr.collapse.show {
  display: table-row; }

tbody.collapse.show {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }

.nav {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }


/*
  1.3. Themify Icons
  ------------------------------
*/
@font-face {
  font-family: 'themify';
  src: url("fonts/themify9f24.eot?-fvbane");
  src: url("fonts/themifyd41d.eot?#iefix-fvbane") format("embedded-opentype"), url("fonts/themify9f24.woff?-fvbane") format("woff"), url("fonts/themify9f24.ttf?-fvbane") format("truetype"), url("fonts/themify9f24.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

  /*
  3. Header
  ------------------------------
*/
.container-header_toolbar {
  font-size: 0.75rem;
  text-align: right; }

.container-header {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 2.5rem 0 3.625rem;
  position: relative;
  z-index: 3; }
  @media (min-width: 576px) {
    .container-header::after {
      content: '';
      display: block;
      position: absolute;
      opacity: 0.15;
      transition: opacity 100ms ease-in;
      border-top: 1px solid currentcolor;
      right: 0;
      bottom: 0;
      left: 0; } }
  .container-header_logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    @media (min-width: 1200px) {
      .container-header_logo-nav {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
  .container-menu-floating .container-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  @media (min-width: 576px) {
    .container-header_wrapper--stuck {
      position: fixed;
      z-index: 999;
      padding: 0;
      top: 0;
      left: 0;
      right: 0;
      -webkit-box-shadow: 0px 0px 5px 0 transparent;
              box-shadow: 0px 0px 5px 0 transparent; }
      .container-header_wrapper--stuck::before {
        content: '';
        display: block;
        background-color: currentColor;
        opacity: 0.035;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; }
      .container-header_wrapper--stuck .container-header_toolbar {
        display: none; }
      .admin-bar .container-header_wrapper--stuck {
        top: 2rem; }
      .container-header_wrapper--stuck #container-main-nav {
        padding-top: 1rem;
        padding-bottom: 1rem; }
      .container-header_wrapper--stuck .container-header_logo-nav {
        padding: 0; }
      .container-header_wrapper--stuck::after {
        opacity: 0; }
    .container-header_wrapper--shadow {
      -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1); } }

.container-header_logo-nav {
  padding-top: 1rem;
  padding-bottom: 1rem; }

#container-main-nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  position: relative; }
  #container-main-nav::before {
    content: '';
    position: absolute;
    top: 1rem;
    right: -20rem;
    bottom: -1rem;
    left: -20rem;
    display: block;
    z-index: -1; }
  @media (min-width: 1200px) {
    #container-main-nav {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      padding-top: 0;
      text-align: right;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      #container-main-nav::before {
        display: none; } }
  #container-main-nav__wrapper {
    position: relative;
    width: 100%;
    text-align: left; }
    @media (min-width: 1200px) {
      #container-main-nav__wrapper {
        width: auto;
        font-size: 0.75rem;
        text-align: right; } }

ul.container-main-navigation,
div.container-main-navigation > ul {
  display: none;
  list-style: none;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 1200px) {
    ul.container-main-navigation,
    div.container-main-navigation > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: auto;
      position: relative;
      margin: 0;
      padding: 0; }
      .container-menu-align-left ul.container-main-navigation, .container-menu-align-left div.container-main-navigation > ul {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
      .container-menu-align-right ul.container-main-navigation, .container-menu-align-right div.container-main-navigation > ul {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  ul.container-main-navigation > li:not(:first-child), div.container-main-navigation > ul > li:not(:first-child) {
    position: relative; }
    ul.container-main-navigation > li:not(:first-child)::after,
    div.container-main-navigation > ul > li:not(:first-child)::after {
      content: '';
      display: block;
      position: absolute;
      opacity: 0.125;
      transition: opacity 100ms ease-in;
      border-top: 1px solid currentcolor;
      top: 0;
      right: 0;
      left: 0; }
  @media (min-width: 576px) {
    ul.container-main-navigation > li:not(:first-child)::after,
    div.container-main-navigation > ul > li:not(:first-child)::after {
      display: none; } }
  @media (min-width: 576px) {
    ul.container-main-navigation > li,
    div.container-main-navigation > ul > li {
      margin-left: 1rem;
      white-space: nowrap; } }
  @media (min-width: 768px) {
    ul.container-main-navigation > li,
    div.container-main-navigation > ul > li {
      margin-left: 2rem; } }
  @media (min-width: 992px) {
    ul.container-main-navigation > li,
    div.container-main-navigation > ul > li {
      margin-left: 3rem; } }
  @media (min-width: 1200px) {
    ul.container-main-navigation > li,
    div.container-main-navigation > ul > li {
      margin-left: 4rem; } }

.container-main-navigation .menu-item,
.container-main-navigation .page_item {
  position: relative;
  padding-top: .25rem;
  padding-bottom: .25rem; }
  @media (min-width: 1200px) {
    .container-main-navigation .menu-item,
    .container-main-navigation .page_item {
      padding-top: 0;
      padding-bottom: 0; } }
  .container-main-navigation .menu-item:hover > .sub-menu,
  .container-main-navigation .menu-item:hover > .children,
  .container-main-navigation .page_item:hover > .sub-menu,
  .container-main-navigation .page_item:hover > .children {
    display: block; }

.container-main-navigation .menu-item .menu-item,
.container-main-navigation .page_item .page_item {
  padding: .25rem 0.125rem;
  line-height: 1.6; }
  .container-main-navigation .menu-item .menu-item:not(:first-child)::after,
  .container-main-navigation .page_item .page_item:not(:first-child)::after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0.125;
    transition: opacity 100ms ease-in;
    border-top: 1px solid currentcolor;
    top: 0;
    right: 0;
    left: 0; }
  @media (min-width: 1200px) {
    .container-main-navigation .menu-item .menu-item,
    .container-main-navigation .page_item .page_item {
      padding: 0 1rem; }
      .container-main-navigation .menu-item .menu-item:not(:first-child)::after,
      .container-main-navigation .page_item .page_item:not(:first-child)::after {
        left: 1rem;
        right: 1rem; } }

.container-main-navigation .sub-menu,
.container-main-navigation .children {
  list-style: none;
  position: relative;
  transition: all 200ms ease;
  display: none;
  margin: 0;
  padding: 0; }
  .container-main-navigation .sub-menu:not(:first-child)::after,
  .container-main-navigation .children:not(:first-child)::after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0.125;
    transition: opacity 100ms ease-in;
    border-top: 1px solid currentcolor;
    top: 0;
    right: 0;
    left: 0; }
  @media (min-width: 1200px) {
    .container-main-navigation .sub-menu,
    .container-main-navigation .children {
      position: absolute;
      text-align: left;
      width: 12rem;
      left: -1rem;
      padding: .5rem 0;
      background: #fff;
              box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1);
      z-index: 1;
      border-radius: 2px;
      top: 100%;
      margin-bottom: -2px;
      white-space: normal;
      margin-top: 0.5rem; }
      .container-main-navigation .sub-menu::before,
      .container-main-navigation .children::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -1rem;
        height: 1rem; }
      .container-main-navigation .sub-menu::after, .container-main-navigation .sub-menu:not(:first-child)::after,
      .container-main-navigation .children::after,
      .container-main-navigation .children:not(:first-child)::after {
        display: none; } }
  .container-main-navigation .sub-menu a,
  .container-main-navigation .children a {
    font-size: 90%;
    padding: 0.5rem 0; }

@media (min-width: 1200px) {
  .container-main-navigation .sub-menu .sub-menu,
  .container-main-navigation .children .children {
    left: 95%;
    top: -0.5rem; } }

@media (min-width: 1200px) {
  .container-main-navigation .edge > .sub-menu,
  .container-main-navigation .edge > .children {
    right: 0;
    left: auto; }
    .container-main-navigation .edge > .sub-menu .sub-menu,
    .container-main-navigation .edge > .sub-menu .children,
    .container-main-navigation .edge > .children .sub-menu,
    .container-main-navigation .edge > .children .children {
      left: auto;
      right: 95%; } }

.container-main-navigation .menu-item-has-children > a::before,
.container-main-navigation .page_item_has_children > a::before {
  content: "î™‹";
  position: relative;
  font-family: 'themify';
  display: inline-block;
  transition: opacity 100ms ease-in; }

.container-main-navigation .menu-item-has-children > a::before,
.container-main-navigation .page_item_has_children > a::before {
  float: right;
  margin: 0 0.5rem;
  display: inline-block; }
  @media (min-width: 48em) {
    .container-main-navigation .menu-item-has-children > a::before,
    .container-main-navigation .page_item_has_children > a::before {
      font-size: 0.5rem;
      line-height: 2.25;
      margin-right: 0; } }

@media (min-width: 1200px) {
  .container-main-navigation .menu-item .menu-item-has-children > a::before,
  .container-main-navigation .page_item .page_item_has_children > a::before {
    content: '\e649';
    line-height: 2.2; } }

.container-main-navigation a {
  text-decoration: none;
  transition: all 200ms ease;
  display: block;
  padding: 0.25rem 0; }

#container-main-nav__toggle-navigation {
  position: relative;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: right;
  margin: 0; }
  @media (min-width: 1200px) {
    #container-main-nav__toggle-navigation {
      display: none; } }
  #container-main-nav__toggle-navigation .ti-align-justify {
    position: relative;
    margin-left: .125rem;
    font-size: 1.2em; }
    #container-main-nav__toggle-navigation .ti-align-justify::before {
      position: relative;
      top: .125rem; }

/*
  4. Footer
  ------------------------------
*/
.container-footer {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
  .container-footer .row::before {
    display: none;
    content: none; }
  .container-footer__logo {
    text-align: center;
    padding: 5rem 0;
    position: relative; }
    .container-footer__logo::after {
      content: '';
      display: block;
      position: absolute;
      opacity: 0.125;
      -webkit-transition: opacity 100ms ease-in;
      transition: opacity 100ms ease-in;
      border-top: 1px solid currentcolor;
      right: 0;
      bottom: 0;
      left: 0; }
    .container-footer__logo > a {
      display: inline-block; }
  .container-footer img {
    max-width: 100%;
    height: auto; }

.scrollme {
  overflow: hidden; }

